/* Chaoqun Ding */

@font-face {
    font-family: salsa;
    src: url(../fonts/Salsa/Salsa-Regular.ttf);
}
:root{
    --main-color: #2f4f4f;
}
#wrapper{
    max-width: 1920px;
    min-height: 100vh;
    display: grid;
    gap: 10px;
    grid-template-rows: auto 1fr auto;
    font-family: salsa;
    color: var(--main-color);
    background-color: white;
}
main{
    display: grid;
    gap: 10px;
}
section{
    border: solid 1px var(--main-color);
    border-radius: 10px;
    padding: 10px;

}
section:hover{
    background-color: blanchedalmond;
}
header, footer{
    color: white;
    background-color: var(--main-color);
    padding: 10px;
    text-align: center;
}
@media (min-width:600px){
    main{
        grid-template-columns: repeat(2, auto);
    }
    .box1{
        grid-area: 1/1/span 1/span 2;
    }
}
@media (min-width:900px){
    main{
        grid-template-columns: repeat(3, auto);
    }
}
@media (min-width:1200px){
    main{
        grid-template-columns: repeat(4, auto);
    }
    .box1{
        grid-area: 1/1/span 1/span 4;
    }
}
.errors{
    background-color: rgb(255, 197, 197);
    border-radius: 5px;
}